
@{
    ViewBag.Title = "關於我們";
}
<html>
<body>
    <style>
        body {
            background-color: #e5ffe5;
            font-family: 'Open Sans', sans-serif;
        }

        div {
            /* 字體屬性 */
            font-family: Arial;
            font-style: normal;
            font-weight: 600;
        }

        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>五峰鄉</h1>
                    <p>（臺灣客家語海陸腔：ngˊ fungˋ hiongˋ；賽夏語：kilapa:）</p>
                    <p>台灣新竹縣的一個山地鄉，位於新竹縣南部，為新竹縣人口最少的鄉鎮，與尖石鄉同為新竹縣的山地鄉。居民主要為台灣原住民泰雅族及賽夏族、僅有少部份客家族群及戰後大陸移民。東鄰尖石鄉，南鄰苗栗縣泰安鄉，西鄰苗栗縣南庄鄉，西北至北鄰分別為北埔鄉、竹東鎮和橫山鄉。</p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

