
@{
    ViewBag.Title = "注意事項";
}
<html>
<body>

    <style>
        body {
            background-color: #e5ffe5;
            font-family: 'Open Sans', sans-serif;
        }

        div {
            /* 字體屬性 */
            font-family: Arial;
            font-style: normal;
            font-weight: 600;
        }

        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
    </style>

    <div class="container">
        <div class="jumbotron">

            <font size="7">注意事項</font><br>
            <font size="5">下單訂購勾選「我同意網站服務條款及隱私政策」</font><br>
            <font size="5">即為同意以下細則內容</font><br>
            <font size="5">商品資訊 / Products</font><br>
            <font size="5">▴ 預購商品，付款約 10-14個工作天(不含假日)出貨。</font><br>
            <font size="5">▴ 預購商品，付款後才會特別向廠商追加，故無法更改訂單內容和取消訂單。</font><br>
            <font size="5">▴ 現貨商品，付款後約 1-2個工作天(不含假日)出貨。</font><br>
            <font size="5">▴ 現貨訂單最快付款後下個工作天出貨，請見諒事務多無法當日出貨。</font><br>
            <font size="5">▴ 訂單中有現貨+預購商品，會等追加到貨再一起出貨。(單筆訂單滿三千可拆單一次，請於訂單中備註現貨商品先出貨。)</font><br>
            <font size="5">購買前請先閱讀購物須知</font><br>
        </div>
    </div>
</body>
</html>

